@page "/books/add"
@inject HttpClient Http
@using Library.Web.Shared

<h1>Add Book</h1>
@if (_book == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<p><em>@_book</em></p>
}

@functions {
int _currentCount = 0;

void IncrementCount()
{
	_currentCount++;
}
}
@functions {
	Book _book;


	protected override async Task OnInitAsync()
	{

		_book = await Http.GetJsonAsync<Book>("Books/Index");
	}
}