
<div class="card">
	<div class="card_left">
		<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/h8fnwL1.png" alt="Alternate Text" />
	</div>
	<div class="card_right">
		<h1>KILL  BILL:  VOL.  1</h1>
		<div class="card_right__details">
			<ul>
				<li>2003</li>
				<li>111 min</li>
				<li>Action</li>
			</ul>
		</div>
		<div class="card_right__review">
			<p>The lead character, called 'The Bride,' was a member <br /> of the Deadly Viper Assassination Squad, led by her <br /> lover 'Bill.' Upon realizing she was pregnant with Bill's<br /> child, 'The Bride' decided to escape her life as a killer.<br /> She fled to Texas, met a young man, who, on the day<br /> of their wedding rehearsal was gunned down by....</p>
			<a href="http://www.imdb.com/title/tt0266697/plotsummary?ref_=tt_stry_pl" target="_blank">Read more</a>
		</div>
		<div class="card_right__button">
			<a href="https://www.youtube.com/watch?v=ot6C1ZKyiME" target="_blank">WATCH TRAILER</a>
		</div>
	</div>
</div>